<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel - Users</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            font-family: 'Arial', sans-serif;
            background-color: #818080;
        }
        .sidebar {
            height: 100vh;
            position: fixed;
            top: 0;
            left: 0;
            background-color: #343a40;
            margin-top: 64px;
            width: 200px;
        }
        .sidebar a {
            display: block;
            color: white;
            padding: 10px 15px;
            text-decoration: none;
            font-size: 18px;
        }
        .sidebar a:hover {
            background-color: #007bff;
        }
        .content {
            margin-left: 220px;
            padding-top: 60px;
        }
        .navbar {
            background-color: #343a40;
            padding: 20px;
            color: white;
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            z-index: 1000;
        }
        .btn-edit {
            background-color: #17a2b8;
            color: white;
        }
        .btn-delete {
            background-color: #dc3545;
            color: white;
        }
        .active {
            background-color: #007bff;
            color: white;
        }
        .table-container {
            margin: 0 auto;
            width: 100%;
        }
        .form-control {
            color: #212529;
            background-color: #ffffff;
        }
    </style>
</head>
<body>

<div class="content">
    <div class="navbar">
    <span><strong th:text="${#authentication.name}">USERNAME</strong> with roles:
      <span th:each="roles : ${#authentication.getAuthorities()}" th:text="${roles} + ' '">WHERE ROLES?</span></span>
        <a href="#" th:href="@{/logout}">Logout</a>
        <div class="sidebar">
            <a th:if="${#authorization.expression('(hasRole(''ROLE_ADMIN'') and hasRole(''ROLE_USER'')) or hasRole(''ROLE_ADMIN'')')}" th:classappend="${currentPath == '/admin'} ? 'active'" th:href="@{/admin}">Admin</a>
            <a th:classappend="${currentPath == '/user'} ? 'active'" th:href="@{/user}">User</a>
        </div>
    </div>

    <h1 class="my-4">Admin panel</h1>

    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" href="#">Users table</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:if="${#authorization.expression('(hasRole(''ROLE_ADMIN'') and hasRole(''ROLE_USER'')) or hasRole(''ROLE_ADMIN'')')}" data-toggle="modal" data-target="#newUserModal">New User</a>
        </li>
    </ul>

    <form style="margin-bottom: 0; border: 1px solid #858585; padding: 10px; border-radius: 5px">
        <div style="font-weight: bold; font-size: 1.5em; text-align: left">
            All Users
        </div>
    </form>
    <div class="table-container">
        <table class="table table-bordered table-striped">
            <thead class="thead-dark">
            <tr>
                <th>USERNAME</th>
                <th>firstName</th>
                <th>lastName</th>
                <th>ROLES</th>
                <th th:if="${#authorization.expression('(hasRole(''ROLE_ADMIN'') and hasRole(''ROLE_USER'')) or hasRole(''ROLE_ADMIN'')')}">Edit</th>
                <th th:if="${#authorization.expression('(hasRole(''ROLE_ADMIN'') and hasRole(''ROLE_USER'')) or hasRole(''ROLE_ADMIN'')')}">Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${users}">
                <td th:text="${user.username}">user</td>
                <td th:text="${user.firstName}">firstName</td>
                <td th:text="${user.lastName}">lastName</td>
                <td th:text="${user.role}">ROLE_USER</td>
                <td th:if="${#authorization.expression('(hasRole(''ROLE_ADMIN'') and hasRole(''ROLE_USER'')) or hasRole(''ROLE_ADMIN'')')}">
                    <button class="btn btn-edit btn-sm" data-toggle="modal" data-target="#editUserModal"
                            th:data-username="${user.username}" th:data-firstName="${user.firstName}" th:data-lastName="${user.lastName}"
                            th:data-roles="${user.roles}" th:data-allRoles="${allRoles}">Edit</button>
                </td>
                <td th:if="${#authorization.expression('(hasRole(''ROLE_ADMIN'') and hasRole(''ROLE_USER'')) or hasRole(''ROLE_ADMIN'')')}">
                    <button class="btn btn-delete btn-sm" data-toggle="modal" data-target="#deleteUserModal"
                            th:data-username="${user.username}">Delete</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>


<div class="modal fade" id="editUserModal" tabindex="-1" role="dialog" aria-labelledby="editUserModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editUserModalLabel">Редактировать пользователя</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form th:action="@{/admin/users/update/{username}(username=${username})}" method="post">
                    <div class="form-group">
                        <label for="editUsername">USERNAME:</label>
                        <input type="text" class="form-control" id="editUsername" name="username" readonly required />
                    </div>
                    <div class="form-group">
                        <label for="editFirstName">FirstName:</label>
                        <input type="text" class="form-control" id="editFirstName" name="firstName" required />
                    </div>
                    <div class="form-group">
                        <label for="editLastName">LastName:</label>
                        <input type="text" class="form-control" id="editLastName" name="lastName" required />
                    </div>
                    <div class="form-group">
                        <label for="editPassword">PASSWORD:</label>
                        <input type="password" class="form-control" id="editPassword" name="password" />
                    </div>
                    <div class="form-group">
                        <label>Роли:</label>
                        <div>
                            <p th:each="role : ${allRoles}">
                                <label>
                                    <input type="checkbox" name="roles" th:value="${role.id}"/>
                                    <span th:text="${role.name}"></span>
                                </label>
                            </p>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Сохранить!" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteUserModal" tabindex="-1" role="dialog" aria-labelledby="deleteUserModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteUserModalLabel">Подтверждение удаления</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Вы уверены, что хотите удалить пользователя <strong id="deleteUsername"></strong>?
            </div>
            <div class="modal-footer">
                <form id="deleteUserForm" method="post">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                    <input type="submit" class="btn btn-danger" value="Удалить">
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="newUserModal" tabindex="-1" role="dialog" aria-labelledby="newUserModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="newUserModalLabel">Добавить нового пользователя</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form th:action="@{/admin/users/save}" method="post">
                    <div class="form-group">
                        <label for="newUsername">USERNAME:</label>
                        <input type="text" class="form-control" id="newUsername" name="username" required title="Введите уникальный username"
                               placeholder="Введите уникальный username" />
                    </div>
                    <div class="form-group">
                        <label for="newFirstName">FirstName:</label>
                        <input type="text" class="form-control" id="newFirstName" name="firstName" required/>
                    </div>
                    <div class="form-group">
                        <label for="newLastName">LastName:</label>
                        <input type="text" class="form-control" id="newLastName" name="lastName" required/>
                    </div>
                    <div class="form-group">
                        <label for="newPassword">PASSWORD:</label>
                        <input type="password" class="form-control" id="newPassword" name="password" required placeholder="*********"/>
                    </div>
                    <div class="form-group">
                        <label>Роли:</label>
                        <div>
                            <p th:each="role : ${allRoles}">
                                <label>
                                    <input type="checkbox" name="roles" th:value="${role.id}" />
                                    <span th:text="${role.name}"></span>
                                </label>
                            </p>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Сохранить!" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
    $(document).ready(function () {
        $('#editUserModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            var username = button.data('username');
            var firstName = button.data('firstName');
            var lastName = button.data('lastName');
            var roles = button.data('roles') ? button.data('roles').split(',') : [];


            var modal = $(this);
            modal.find('#editUsername').val(username);
            modal.find('#editFirstName').val(firstName);
            modal.find('#editLastName').val(lastName);
            modal.find('#editRoles').val(roles);

            modal.find('form').attr('action', '/admin/users/update/' + username);
        });

        $('#deleteUserModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            var username = button.data('username');

            var modal = $(this);
            modal.find('#deleteUsername').text(username);
            $('#deleteUserForm').attr('action', '/admin/users/delete/' + username);
        });
    });
</script>

</body>
</html>